<h3>スケジュール詳細</h3>

   <table>
     <tr>
       <th>タイトル</th>
       <td><%= @post.title %></td>
     </tr>
     <tr>
       <th>開始日</th>
       <td><%= @post.start_at.to_s(:extra_short) %></td>
     </tr>
     <tr>
       <th>終了日</th>
       <td><%= @post.end_at.to_s(:extra_short) %></td>
     </tr>
     <tr>
       <th>終日</th>
       <td><% if @post.is_all_day == true %>
       ○
       <% else @post.is_all_day == false %>

       <% end %></td>
     </tr>
     <tr>
       <th>スケジュールメモ</th>
       <td><%= @post.memo %></td>
     </tr>
   </table>

   <div class = "links-field">
     <p>
       <%= link_to "スケジュール一覧に戻る", :posts, class: "links" %>
       <br><%= link_to "このスケジュールを編集", [:edit, @post], class: "links" %>
       <br><%= link_to "このスケジュールを削除", @post, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "links" %>
     </p>

   </div>
